* {
  box-sizing: border-box;
}
body {
  background-color: #e0ffff;
}
h1 {
  margin-top: 10px;
  text-align: center;
  color: #000;
  font-size: 24px;
}
nav {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b9d9eb;
  width: 400px;
  border-radius: 10px;
}
nav ul {
  padding: 40px;
}
nav li a {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 20px 0;
  color: #000;
}
a.active {
  background-color: #fff;
  border-radius: 10px;
}
.main-content,
.history-info {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  background-color: #b9d9eb;
  min-height: 100px;
}
.main-content .content {
  padding: 10px;
  color: #fff;
}
.history-info h2 {
  padding-top: 20px;
  margin-bottom: 20px;
}
.history-length {
  color: #fff;
}
